.home-container{
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    width: 100%;
    background-color: #f8f9fa;
}
.filter-container{
    max-width: 1200px;
    width: 100%;
    margin: 2rem auto;
    padding: 0 1rem;
}
.filters-row-alignment{
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 100%;
    flex-wrap: wrap;
    padding: 1.5rem;
    border-radius: 8px;
    background: #2d2d2d;
    color: #e0e0e0;
}
.filter-alignment{
    display: flex;
    border:1px solid #e0e0e0;
    padding:0.5rem 0.2rem;
    border-radius: 8px;
}

.filter-alignment select{
    border: none;
    outline: none;
    background: transparent;
    color: #e69138;
    width: 200px;
    cursor: pointer;
}
.filter-alignment select option{
    color: black;
    font-size: 0.8rem;
    /* margin-top: 1rem; */
}
.filter-alignment h1{
    font-size: 0.9rem !important;
    padding: 0rem 0.2rem;
     /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important; */
    
}
.add-color{
    background: #4a90e2;
    padding: 0.5rem 1.5rem;
    border: none !important;
    cursor: pointer;
}
.task-table-container{
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0 0 0 0.1);
    /* margin-top: 2rem; */
    overflow-x: auto;
    width: 100%;
    color: #fff;
}


table{
    width: 92%;
    border-collapse: collapse;
    font-size: 0.9rem;
    background: #111;
    border-radius: 8px;
    box-shadow: 0 2px 20px rgba(225, 225, 225,0.3);
    overflow-x: auto;
    max-width: 1200px;
    margin: 2rem auto;
    /* padding: 0 1rem; */
    gap: 1rem;
}
th td{
    padding: 1rem;
    text-align: left !important;
    border-bottom: 1px solid #eee;
   
}
th{
    background: #a3c5e6;
    font-weight: 600;
    color: #333;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.5px;
    /* min-height: 150px; */
    text-align: left;
    padding: 0.5rem;
}

.tr:hover{
    background: #151b23;
}

@media (max-width:992px){

}

.edittable-input{
    /* width: 100%; */
    padding: 0.5rem !important;
    border: 1px solid #4a90e2;
    border-radius: 4px;
    background: #fff;
    transition: all 0.2 ease;
}
.readonly-input{
     /* width: 100%; */
    padding: 0.5rem;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    background: #f8f9fa;
    cursor: not-allowed;
    color: #666;

}

.select .form-group input[type="text"], input[type="date"]{
    width: 180px !important;
    padding: 0.5rem;
}
.width{
    width: 160px !important;
    padding: 0.5rem;
}


.btn{
    padding: 0.5rem 0.75rem;
    border: none;
    color: white;  
    border-radius: 8px;
}
.edit{
    background:#4caf50;
}
.edit:hover{
    background: #43a047;
}
.delete{
    background: #f44336;
}
.delete:hover{
    background: #e53935;
}
.save{
    background: #2196f3;
}
.save:hover{
    background: #1976d2;
}
.cancel{
    background: #9e9e9e;
}
.cancel:hover{
    background: #757575;
}